<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="stylesheet" href="/stylesheets/styleE.css" />

  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home/home-page">P L A N</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home/home-page">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="/home/misEventos">My Events</a>
        </li>
      </ul>
         <a href="/auth/logout"><button class="btn btn-outline-success" type="submit">LOG OUT</button></a>

    </div>
  </div>
</nav>
</head>
<body>
  

<br>
<div class="container"> 
    <h1 class="text-center" style="color:#FFFFFF;">My Events</h1>

<br>

<div>
    {{#each todosLosEventos}}
    <div class="reus"> 
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title">{{name}}</h3>
          <p class="card-text" style="font-size:17px">{{description}}</p>
          <p class="card-text" style="font-size:15px">{{date}}</p>
          <p class="card-text" style="font-size:15px">{{address}}</p>
          <a href="/home/nuevoEvento/{{_id}}" class="btn btn-dark">See details</a>
        </div>
      </div>
    </div>
    {{/each}}

  </div>  



</div>
</body>
</html>

